.mainScreen {
  position: absolute;
  width: 100%;
  height: 100%;
}
.mainScreen .preview {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 55%;
  border: 1px solid #008000;
}
.mainScreen .preview:before {
  content: "";
  display: block;
  margin-top: 56.25%;
}
.mainScreen .active {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border: 1px solid #ff0;
}
.mainScreen .active:before {
  content: "";
  display: block;
  margin-top: 56.25%;
}
.mainScreen .activeWithPreview {
  width: 55%;
  top: auto;
  left: auto;
  bottom: 0;
  right: 0;
}
