html {
  height: 100%;
  font-size: 100%;
}
html body {
  height: 100%;
  background: #000;
  color: #c0c0c0;
  margin: 0;
  padding: 0;
}
html body .flexContainer {
  display: -webkit-flex;
  -webkit-flex-direction: column;
  height: 100%;
}
html body .flexContainer .streamOverviewList {
  text-align: center;
  -webkit-flex: 0 1 auto;
  border: 1px solid #00f;
}
html body .flexContainer .mainAndChat {
  position: relative;
  -webkit-flex: 2 0 auto;
  display: -webkit-flex;
  -webkit-flex-direction: row;
  border: 1px solid #f00;
}
html body .flexContainer .mainAndChat .mainScreenSection {
  position: relative;
  border: 1px solid #008000;
  -webkit-flex-grow: 1000;
  color: #c0c0c0;
}
html body .flexContainer .mainAndChat .chatSection {
  position: relative;
  border: 1px solid #ff0;
  -webkit-flex-basis: 300px;
  color: #c0c0c0;
}
