.picker-overlay {
/* A dark translucent div that covers the whole screen */
  position: absolute;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.75);
}
.picker-dialog {
/* A centered div above the overlay with a box shadow. */
  z-index: 10000;
  position: absolute;
  width: 80%;
  border: 1px solid #c0c0c0;
/* Center the dialog */
  top: 20%;
  left: 20%;
  transform: translate(-13%, -10%);
}
.picker-dialog .picker-close,
.picker-dialog .picker-back {
  position: absolute;
  padding: 5px;
  cursor: pointer;
  font-size: 200%;
}
.picker-dialog .picker-back {
  top: 3px;
  left: 5px;
}
.picker-dialog .picker-close {
  top: 3px;
  right: 5px;
}
.picker-dialog .picker-content {
  padding: 10px;
  text-align: center;
}
.picker-dialog .picker-content .card {
  display: inline-block;
  max-width: 30%;
  padding: 2em;
}
.picker-dialog .picker-content .card img {
  width: 100%;
  max-height: 230px;
}
