.sv-app-layout
  display flex
  flex-direction column
  box-sizing border-box
  width 100%
  height 100%
  background black
  border 1px solid red
  .sv-preview-row
    display flex
    flex-direction row
    justify-content space-around
    flex-wrap wrap
    border 1px solid blue
    .sv-preview-nowrap
      flex-basis 50%
      display flex
      .sv-preview
        box-sizing border-box
        flex-basis 50%
        min-width 200px
        border 1px solid silver
    .sv-preview-nowrap:before
      content ""
      display block
      margin-top 28.125%
  .sv-screen-and-chat-row
    flex-grow 1
    display flex
    flex-flow row wrap
    .sv-screen
      box-sizing border-box
      flex-grow 1000
      min-width 452px
      border 1px solid yellow
    .sv-chat
      box-sizing border-box
      flex-basis 350px
      flex-grow 1
      border 1px solid green
      min-height 15%
      display flex
      flex-direction column