.streamOverview
  display inline-block
  position relative
  width 24%
  min-width 200px
  border 1px solid silver
  .streamOverviewContent
    position absolute
    top 0
    bottom 0
    left 0
    right 0
    .streamOverviewControls
      position absolute
      top 0
      left 0
      width 100%
      text-align center
      font-size 0
      z-index 2
      button
        min-width 35px
        width 20%
        color white
        background rgba(0,0,0,0.3)
        border none
      .pressedButton
        color red
    .streamOverviewVideo
      position absolute
      width 100%
      height 100%
      z-index 1
      video, iframe
        width 100%
        height 100%
    .additionalInfo
      position absolute
      top 30%
      left 0
      width 100%
      height 70%
      z-index 0
      overflow hidden
      .name
        color #ffff00
.streamOverview:before
  content ""
  display block
  margin-top 56.25%