.video-player
  position relative
  width 100%
  height 100%
  .video-controls
    position absolute
    bottom 0
    left 0
    height 20%
    max-height 40px
    width 100%
    background rgba(0,0,0,0.75)
    text-align right
    .volume-bar
      width 30%
      height 100%
      margin-right 20%
    button
      display inline-block
      height 100%
      width 15%
      min-width 0
      max-width 60px
      background none
    .play, .pause
      position absolute
      top 0
      left 0
    .fullscreen, .nofullscreen
      position absolute
      top 0
      left 15%
    .mute, .unmute
      position absolute
      top 0
      right 0