.sv-chat-controls
  display flex
  justify-content space-around
  button.win-button
    flex-grow 1
    min-width auto
  button.win-button.highlighted
    color yellow
.sv-chat-content
  color silver
  flex-grow 1
  display flex
  .chat-container
    display flex
    width 100%