<div class="controls">
    <button title="Show Controls" data-ng-click="showControls()" class="win-button">
        <span ng-show="!showAllControls">&#xe169;</span>
        <span ng-show="showAllControls">&#xe16a;</span>
    </button>
    <div data-ng-show="showAllControls">
        <button title="Show/Hide Stream List" data-ng-click="toggleStreamList()" class="win-button">&#xe14f;</button>
        <button title="Show/Hide Chat" data-ng-click="toggleChat()" class="win-button">&#xe126;</button>
        <button title="Swap main and preview" data-ng-click="swapMainAndPreview()" class="win-button">&#xe13c;</button>
        <button title="Toggle fullScreen mode" data-ng-click="toggleFullscreen()" class="win-button">
            <span ng-show="fullscreenMode">&#xe1d8;</span>
            <span ng-hide="fullscreenMode">&#xe1d9;</span>
        </button>
        <button title="Show all 4 streams" data-ng-click="showAllStreams()" class="win-button" data-ng-class="{'active': StreamsStateManager.allStreamsShown}">&#xe14e;</button>
        <button title="About StreamViewer" data-ng-click="showAbout()" class="win-button">?</button>
    </div>
</div>