<div class="mainScreen">

    <div class="active" data-ng-show="activeStream !== ''" data-ng-class="{'activeWithPreview': previewStream !== ''}"></div>
    <div class="preview" data-ng-show="previewStream !== ''" data-ng-style="previewStreamStyle"></div>

    <div class="allStreamsContainer" ng-show="allStreamsShown">
        <div id="allStreams0"></div>
        <div id="allStreams1"></div>
        <div id="allStreams2"></div>
        <div id="allStreams3"></div>
    </div>

    <div class="appTitle">Serg Nights' StreamViewer for web!</div>
</div>