<div class='video-player' ng-mouseenter="mouseEvent(true)" ng-mouseleave="mouseEvent(false)">
    <!--<div class='video-controls' ng-show="showControls">
        <button class='win-button play' title='Play' ng-show="!playing;" ng-click="play()">&#xe102;</button>
        <button class='win-button pause' title='Pause' ng-show="playing" ng-click="pause()">&#xe103;</button>

        <button class='win-button fullscreen' title='Fullscreen' ng-show="!fullscreened" ng-click="fullscreen(true)">&#xe1d9;</button>
        <button class='win-button fullscreen' title='Fullscreen' ng-show="fullscreened" ng-click="fullscreen(false)">&#xe1d8;</button>

        <input type="range" class='volume-bar' min='0' max='100' value='50' />

        <button class='win-button mute' title='Mute' ng-show="!muted" ng-click="mute()">&#xe15d;</button>
        <button class='win-button unmute' title='Unmute' ng-show="muted" ng-click="unmute()">&#xe198;</button>
    </div>-->
</div>