.sv-controls
  display flex
  justify-content space-around
  button.win-button
    z-index 2
    flex-basis 25%
    border none
    background rgba(0,0,0,0.4)
    color white
    padding-top 0.3em
    cursor pointer
    min-width auto
    min-height auto
  button:hover
    color yellow
  button:nth-child(4)
    padding-top 0.8em
    transform rotate(180deg)
  button.highlighted
    color yellow
.sv-stream-description
  margin-top 1.5em
  text-align center