.sv-controls {
  display: flex;
  justify-content: space-around;
}
.sv-controls button.win-button {
  z-index: 2;
  flex-basis: 25%;
  border: none;
  background: rgba(0,0,0,0.4);
  color: #fff;
  padding-top: 0.3em;
  cursor: pointer;
  min-width: auto;
  min-height: auto;
}
.sv-controls button:hover {
  color: #ff0;
}
.sv-controls button:nth-child(4) {
  padding-top: 0.8em;
  transform: rotate(180deg);
}
.sv-controls button.highlighted {
  color: #ff0;
}
.sv-stream-description {
  margin-top: 1.5em;
  text-align: center;
}
