<div class="chat">
    <label class="channelWrapper">
        <input class="channelInput" type="text" ng-model="channel" ng-keypress="sendChannel($event)"/>
        <button ng-click="sendChannel({keyCode: 13})">X</button>
    </label>
    <div class="chatMessages">
        <div class="message" ng-repeat="message in ChatService.messages">
            <span class="author">{{message.author}}:</span>
            <span class="text">{{message.text}}</span>
        </div>
    </div>
    <label class="inputWrapper">
        <input class="messageInput" type="text" ng-model="chatMessage" ng-keypress="sendMessage($event)"/>
        <button ng-click="sendMessage({keyCode: 13})">X</button>
    </label>

</div>