<div class="streamOverview">
    <div class="streamOverviewContent">
        <div class="streamOverviewControls">
            <button type="button" class="btn btn-default glyphicon glyphicon-plus" title="Add stream" ng-click="add()">
            </button>
            <button type="button" class="btn btn-default glyphicon glyphicon-refresh" title="Refresh" ng-click="refresh()">
            </button>
            <button type="button" class="btn btn-default glyphicon glyphicon-trash" title="Remove stream" ng-click="remove()">
            </button>
            <button type="button" class="btn btn-default glyphicon glyphicon-eye-open" title="Preview" ng-class="{'pressedButton': previewSelected.stream.id === num}"
                    ng-click="preview()" >
                <!--ng-mouseover="preview()" ng-mouseleave="preview()"-->
            </button>
            <button type="button" class="btn btn-default glyphicon glyphicon-share-alt" title="Move to big screen" ng-class="{'pressedButton': activeSelected.stream.id === num}" ng-click="moveToMain()">
            </button>
        </div>
        <div class="streamOverviewVideo">
            <br><br><br>
            {{stream.channel}}

        </div>
    </div>
</div>