.sv-picker {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 6;
  background: rgba(0,0,0,0.9);
}
.sv-picker .sv-picker-content {
  position: absolute;
  top: 2.5%;
  left: 2.5%;
  width: 95%;
  height: 95%;
  display: flex;
  flex-direction: column;
  border: 2px solid #fff;
  color: #c0c0c0;
}
.sv-picker .sv-picker-content .sv-picker-controls {
  display: flex;
  justify-content: center;
}
.sv-picker .sv-picker-content .sv-picker-controls .sv-picker-search {
  font-size: 1em;
}
.sv-picker .sv-picker-content .sv-picker-controls .sv-picker-search::-webkit-input-placeholder {
  color: #fff;
}
.sv-picker .sv-picker-content .sv-picker-controls .sv-picker-search::-moz-placeholder {
  color: #fff;
}
.sv-picker .sv-picker-content .sv-picker-controls .sv-picker-close {
  position: absolute;
  right: 0;
  margin: 8px;
}
.sv-picker .sv-picker-content .sv-picker-controls .sv-picker-back {
  position: absolute;
  left: 0;
  margin: 8px;
}
.sv-picker .sv-picker-content .sv-picker-groups {
  height: inherit;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0 20px 20px 20px;
}
.sv-picker .sv-picker-content .sv-picker-groups .sv-picker-group {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}
.sv-picker .sv-picker-content .sv-picker-groups .sv-picker-group .sv-picker-group-header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  margin: 0.5em;
  cursor: pointer;
  transition: color 1s;
}
.sv-picker .sv-picker-content .sv-picker-groups .sv-picker-group .sv-picker-group-header img {
  background: #fff;
  width: 50px;
  height: 50px;
  margin-right: 1em;
}
.sv-picker .sv-picker-content .sv-picker-groups .sv-picker-group .sv-picker-group-header i {
  font-size: 0.7em;
  color: #ff0;
}
.sv-picker .sv-picker-content .sv-picker-groups .sv-picker-group .sv-picker-group-header:hover {
  color: #ff0;
  text-decoration: underline;
}
.sv-picker .sv-picker-content .sv-picker-groups .sv-picker-group .sv-picker-group-content {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}
.sv-picker .sv-picker-content .sv-picker-groups .sv-picker-group .sv-picker-group-content .sv-picker-group-item {
  flex-basis: 20%;
  text-align: center;
  color: #c0c0c0;
  box-sizing: border-box;
  padding: 0.5em;
  cursor: pointer;
  border-radius: 15px;
  transition: transform 0.5s, box-shadow 0.5s, background 0.5s;
}
.sv-picker .sv-picker-content .sv-picker-groups .sv-picker-group .sv-picker-group-content .sv-picker-group-item .sv-picker-item-title {
  overflow: hidden;
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2 /* number of lines to show */;
  -webkit-box-orient: vertical;
  line-height: 1em /* fallback */;
  height: 2em /* fallback */;
}
.sv-picker .sv-picker-content .sv-picker-groups .sv-picker-group .sv-picker-group-content .sv-picker-group-item .sv-picker-item-subtitle {
  color: #ff0;
  overflow: hidden;
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1 /* number of lines to show */;
  -webkit-box-orient: vertical;
  line-height: 1em /* fallback */;
  max-height: 1em /* fallback */;
  margin-bottom: 0.5em;
}
.sv-picker .sv-picker-content .sv-picker-groups .sv-picker-group .sv-picker-group-content .sv-picker-group-item:hover {
  transform: scale(1.1, 1.05);
  box-shadow: 0 0 60px #c0c0c0;
  background: #000;
}
.sv-picker .sv-picker-content .sv-picker-groups .sv-picker-group:first-of-type .sv-picker-group-header {
  margin-top: 0;
}
